* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 34, 34);
    background-color: #181818;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    min-height: 130px;
    padding-top: 20px;
    font-size: 40px;
    color: rgb(231, 222, 222);
}

.header {
    color: #f1f1f1;
    text-align: center;
    padding-bottom: 10px;
}

.header :link {
    color: #f1f1f1;
    text-decoration: none;
}

.header :visited {
    text-decoration: none;
    color: #f1f1f1;
}

.button-nav {
    background-color: #f1f1f1;
    min-width: 105px;
    border-radius: 4px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.button-nav :link {
    background-color: #f1f1f1;
    text-decoration: none;
}

.button-nav :visited {
    text-decoration: none;
    background-color: #f1f1f1;
}

.button-nav:hover {
    text-decoration: none;
    color: rgb(226, 38, 38);
}

.button-nav :visited:hover {
    background-color: #f1f1f1;
    text-decoration: none;
    color: rgb(226, 38, 38);
}

#buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#timer, #time, #mensaje-resultado{
    display: none;
    width: 100%;
    height: auto;
    text-align: center;
    min-height: 15px;
    padding-bottom: 10px;
    font-size: 25px;
    color: #f1f1f1
}

#mensaje-error {
    visibility: hidden;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
    padding-bottom: 8px;
    color: #f1f1f1
}

#time {
    color: rgb(21, 211, 21);
}

main {
    display: flex;
    justify-content: center;
    width: 375px;
    padding: 20px 0px;
    border-top: 2px solid #353434;
    border-bottom: 2px solid #353434;
}

.fieldset-wordle {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.input-wordle {
    background-color: #f1f1f1;
    width: 50px;
    margin: 3px;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    border: 2px solid rgba(0, 0, 0, 0.514);
    border-radius: 5px;
    box-shadow: 1x 2px 10px #353434;
    caret-color: transparent;
}

.input-wordle:focus {
    outline: none;
    border: 2px solid rgb(226, 38, 38);
    box-shadow: 0px 0px 0px;

}

input:disabled {
    border: 2px solid rgba(255, 255, 255, 0.900);
  }

#guardar-partida {
    display:none;
}

#volver-a-jugar-partida {
    display: none;
}

#nombre-jugador {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    min-height: 15px;
    padding-bottom: 10px;
    font-size: 20px;
}

#nombre-jugador-label {
    color: #f1f1f1;
    padding-bottom: 5px;
}

#nombre-jugador-input {
   background-color:  #353434;
   color: #f1f1f1;
   margin-bottom: 5px;
}

#errorNombre {
    color: rgb(226, 38, 38);
    font-size: 17px;

}

footer {
    width:max-content;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-bottom: 20px;
    color: #f1f1f1;
    font-size: 17px;
}

footer a {
    padding-top: 20px;
    text-decoration: none;
    color: #fff;
}

/*Modal fondo*/
.modal {
    display: block;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/*Tabla contenido*/

#table-wrapper {
    position: relative;
}

#table-scroll {
    height: 400px;
    overflow: auto;
    margin-top: 20px;
}

#table-wrapper table {
    width: 100%;
}

#table-wrapper table thead th .text {
    position: absolute;
    top: -20px;
    z-index: 2;
    height: 20px;
    width: 35%;
}

th, td {
    padding: 5px;
    color:white;
}

#orden-por-fecha {
    cursor: pointer;
}

#orden-por-puntaje {
    cursor: pointer;
}

/* Modal Contenido*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    background-color: #121213;
    border: 2px solid #3a3a3c;
    margin: 15% auto;
}

.modal_message {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #3a3a3c;
    color: #fff;
    font-size: 18px;
}

.modal_close {
    width: 30%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 25px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #fff;
    background-color: #bbb7b7;
    border: 2px solid #3a3a3c;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.modal_close:hover {
    color: #000;
    background-color: #3a3a3c;
    border: 3px solid #121213;
}

.modal_close:active {
    background-color: #bbb7b7;
    border: 3px solid #121213;
}

/*Colores tablero*/
.verde {
    background-color: rgb(21, 211, 21);
}

.amarillo {
    background-color: rgb(226, 226, 85);
}

.gris {
    background-color: rgb(173, 171, 171);
}